@using System.Threading.Tasks
@using Sandbox;
@using Sandbox.UI;
@using TikTokTTS
@inherits PanelComponent
@namespace Bee

<root>
	@if ( gameManager?.CurrentWord != null )
	{
		<div>@gameManager.CurrentWord</div>
		<div class="DefinitionWrapper">
			<div class="Definition">@gameManager.CurrentDefinition</div>
		</div>
	}
	@if ( MyTurn )
	{
		<div class="EntryWrapper">
		
			<TextEntry class="Entry"Placeholder="Spell the word out here"onsubmit=@( () => gameManager.Submit() ) @ref="Entry"></TextEntry>
		</div>
	}
</root>

@code
{
	[RequireComponent] PlayerControllerExtras Player { get; set; }
	public TextEntry Entry { get; set; } = new();
	[Property] public bool MyTurn { get; set; }
	[Sync] public string Guess { get; set; }
	int Hash;
	
	GameManager gameManager { get; set; }
	
	protected override void OnStart()
	{
		if ( IsProxy ) return;
		gameManager = Scene.Components.GetInDescendantsOrSelf<GameManager>();
	}

	protected override void OnFixedUpdate()
	{
		Guess = Entry.Text;
		
		if ( IsProxy ) return;
		
		Hash = gameManager.currentGameState.GetHashCode();
		if ( gameManager.CurrentWord != null ) Hash += gameManager.CurrentWord.GetHashCode();
		Hash += MyTurn.GetHashCode();
	}

	[Rpc.Owner]
	public void SetMyTurn( bool myTurn)
	{
		MyTurn = myTurn;
	}

	protected override int BuildHash() => Hash;
}
