@using System.Threading.Tasks
@using Sandbox;
@using Sandbox.UI;
@using TikTokTTS
@inherits PanelComponent
@namespace Bee

<root>
	<div>@gameManager.CurrentWord</div>
	<div class="DefinitionWrapper">
		<div class="Definition">@gameManager.CurrentDefinition</div>
	</div>
	<div class="EntryWrapper">
		<TextEntry class="Entry"
		           Placeholder="Spell the word out here"
		           onsubmit=@( () => gameManager.RPCSubmit() )
		           @ref="Entry"
		           style=@( MyTurn ? "pointer-events: all;" : "pointer-events: none;" )></TextEntry>
	</div>
</root>

@code
{
	[RequireComponent] PlayerControllerExtras Player { get; set; }
	public TextEntry Entry { get; set; } = new();
	[Property] public bool MyTurn { get; set; }
	[Sync] public string Guess { get; set; }
	int Hash;
	
	GameManager gameManager { get; set; }
	
	protected override void OnStart()
	{
		if ( IsProxy ) return;
		gameManager = Scene.Components.GetInDescendantsOrSelf<GameManager>();
	}

	protected override void OnFixedUpdate()
	{
		if ( IsProxy ) return;

		Guess = Entry.Text;
		
		Hash = gameManager.currentGameState.GetHashCode();
		if ( gameManager.CurrentWord != null ) Hash += gameManager.CurrentWord.GetHashCode();
	}

	[Rpc.Owner]
	public void ToggleTurn()
	{
		MyTurn = !MyTurn;
	}

	protected override int BuildHash() => Hash;
}
