@using System.Threading.Tasks
@using Sandbox;
@using Sandbox.UI;
@using TikTokTTS
@inherits PanelComponent
@namespace Bee

<root>
	@if ( IsProxy || !gameManager.IsValid() ) return;
	<div>@gameManager.CurrentWord</div> 
	<div class="DefinitionWrapper">
		<div class="Definition">@gameManager.CurrentDefinition</div>
	</div>
	<div class="EntryWrapper">
		<TextEntry class="Entry" 
		           Placeholder="Spell the word out here" 
		           onsubmit=@( () => Submit() )
		           @ref=Entry style=@( MyTurn ? "pointer-events: all" : "pointer-events: none" )></TextEntry>
	</div>
</root>

@code
{
	[RequireComponent] PlayerController Player { get; set; }
	public TextEntry Entry { get; set; }
	public bool MyTurn { get; set; } = false;
	
	GameManager gameManager { get; set; }
	
	protected override void OnStart()
	{
		gameManager = Scene.Components.GetInDescendantsOrSelf<GameManager>();
	}

	public async Task Submit()
	{
		//Sound.Play();
		Entry.SetProperty( "style", Entry.Text.ToLower() == gameManager.CurrentWord?.ToLower() ? "color: green" : "color: red" );

		//Sound.Play();
		await Task.DelayRealtimeSeconds( 1 );
		Entry.Text = "";
		Entry.SetProperty( "style", "color: white" );
	}

	protected override int BuildHash() => 0;
}
