@using System.Threading.Tasks
@using Sandbox;
@using Sandbox.UI;
@using TikTokTTS
@inherits PanelComponent
@namespace Bee

<root class="@( MyTurn ? "" : "Hidden" )">
	@if ( IsProxy ) return;
	<div>@GameManager.CurrentWord</div> 
	<div class="DefinitionWrapper">
		<div class="Definition">@GameManager.CurrentDefinition</div>
	</div>
	<div class="EntryWrapper">
		<TextEntry class="Entry" Placeholder="Spell the word out here" onsubmit=@( () => Submit() ) @ref=Entry></TextEntry>
	</div>
</root>

@code
{
	[RequireComponent] PlayerController Player { get; set; }
	public TextEntry Entry { get; set; }
	public bool MyTurn { get; set; } = true;
	
	protected override void OnFixedUpdate()
	{
		
	}

	public async Task Submit()
	{
		//Sound.Play();
		Entry.SetProperty( "style", Entry.Text.ToLower() == GameManager.CurrentWord?.ToLower() ? "color: green" : "color: red" );

		//Sound.Play();
		await Task.DelayRealtimeSeconds( 1 );
		Entry.Text = "";
		Entry.SetProperty( "style", "color: white" );
	}

	protected override int BuildHash() => 0;
}
