@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div>@CurrentGuess</div>
</root>

@code
{
	[Property, Sync] public string CurrentGuess { get; set; }

	protected override int BuildHash() => System.HashCode.Combine( CurrentGuess );
}
