@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="Word">@CurrentGuess</div>
</root>

@code
{

	[Property, Sync] public static string CurrentGuess { get; set; }

	protected override int BuildHash() => System.HashCode.Combine( CurrentGuess );
}
